#preprocessors
    #pug
        img.pre-icon(src="../../static/icons/pug.svg")
        p Pug is a terse and simple templating language with a strong focus on performance and powerful features.
        a.open(href="https://replit.com/@malted/proprocessor#src/templates/index.pug")
            img(src="/static/icons/open.svg")
            p.desc
                | Edit
                |
                span.path /src/templates/index.pug
                |
                | to get started.
    #sass
        img.pre-icon(src="../../static/icons/sass.svg")
        p Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.
        a.open(href="https://replit.com/@malted/proprocessor#src/styles/style.sass")
            img(src="/static/icons/open.svg")
            p.desc
                | Edit
                |
                span.path /src/styles/styles.sass
                |
                | to get started.
    #coffeescript
        img.pre-icon(src="../../static/icons/coffeescript.svg")
        p CoffeeScript is a little language that compiles into JavaScript. It's an attempt to expose the good parts of JavaScript in a simple way.
        a.open(href="https://replit.com/@malted/proprocessor#src/scripts/index.coffee")
            img(src="/static/icons/open.svg")
            p.desc
                | Edit
                |
                span.path /src/scripts/index.coffee
                |
                | to get started.
